.box{
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
    border: 2px dashed gray;
}

.blue{
    padding: 0.5em;
    margin: 0.5em;
    border: 2px dashed blue;
}

.red{
    padding: 0.5em;
    margin: 0.5em;
    border: 2px dashed red;
}

.green{
    padding: 0.5em;
    margin: 0.5em;
    border: 2px dashed green;
}